

body {
  margin: 0;
  overflow: hidden;

}

.start--screen--container
{
  background-image: url('halloween-image.jpg');
  /* source: https://pixabay.com/illustrations/halloween-background-wallpaper-bats-7494260/*/
  background-repeat: no-repeat;
  height: 3000px;
  width:3000px;
  max-width: 3000px;
  max-height: 3000px;
  object-fit:cover;
  position: absolute;
  top: 0;
  left:0;
}

.game--board--container {
  background-image: url('halloween-2.jpg');
  /* source: https://pixabay.com/illustrations/halloween-pumpkin-jack-o-lantern-2837936/ */
  display: grid;
  visibility: hidden;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr .5fr .5fr .5fr; 
  column-gap: 40px;
  row-gap: 40px;
  justify-items:center;
  align-items: center;
  border: 5px solid blue;
  max-height:3000px;
  max-width:3000px;
}


#cell {
height:100px;
width:200px;
background:#111111;
border: 5px solid white;
cursor:pointer;
}
#cell:hover{
  background: white;
  border: 5px solid white;
}
.start--screen--container {
  visibility: visible;
}
.score--container {
  visibility: hidden;
}
.p_score,.total_matches{
  display:flex;
  align-items: center;
  border: 5px solid red;
}

.m_attempts,.time{
  display: flex;
  align-items:center;
  border: 5px solid blue;
}

.endGame_screen{
  display:none
}

