html{
  height: 100%
}

body {
  margin: 0;
  overflow: hidden;
  height:100%

}

.begin .start_button {
  display:flex;
  justify-content:center;
  align-items: center;

}
.start--screen--container
{
  background-image: url('./images/halloween-image.jpg');
  /* source: https://pixabay.com/illustrations/halloween-background-wallpaper-bats-7494260/*/
  margin-top:0;
  padding:0;
  position: absolute;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-size:cover;
  color:white;
}


.game--board--container {
  display: grid;
  visibility: hidden;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr .5fr .5fr .5fr; 
  column-gap: 40px;
  row-gap: 40px;
  justify-items:center;
  align-items: center;
  border: 5px solid blue;
}
.game--board--container_1{
  background-image: url('./images/halloween-2.jpg');
  /* source: https://pixabay.com/illustrations/halloween-pumpkin-jack-o-lantern-2837936/ */
  background-size:cover;
  width:100%;
  height:100%;
}

#cell {
height:100px;
width:200px;
background:#111111;
border: 5px solid white;
cursor:pointer;
}
#cell:hover{
  background: white;
  border: 5px solid white;
}
.start--screen--container {
  visibility: visible;
}
.title--container {
color:white;
}




.score--container {
  visibility: hidden;
  display:flex;
  color:white;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}


.endGame_screen{
  display:none
}
